{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{% static 'css/style6.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
</head>
<body>
    {% include "header.html" %} 
    <main class="bg-dark py-5">
        <div class="container bg-dark px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h2 class="display-4 fw-bolder text-white">Carrito de Compras</h2>
                <p class="lead fw-normal text-white-50 mb-0">Tus prendas favoritas</p>
            </div>
        </div>
    </main>
    <div class="container bg-white px-4 px-lg-5 my-5">

        {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3" style="height: 215px; overflow: hidden;">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="object-fit: cover; height: 100%;">
                    </div>
                    <div class="col-md-9 d-flex flex-column justify-content-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <br>
                                <h2 class="fs-4 card-title">{{ product.marca }}</h2>
                                <br>
                                <h8 class="text-capitalize card-subtitle">{{ product.name }}</h8>
                                <br></br>
                                <h7 class="fw-bolder card-text text-center">${{ product.preciod }}</h7>
                            </div>
                        </div>
                            <div class="ms-auto me-3" style="width: 95px;"> <!-- Added me-3 -->
                                <div class="row justify-content-end">
                                    <div class="row-md-2 text-wrap">Cantidad:
                                        <select class="form-select form-select-sm" id="select{{product.id}}" >
                                            {% for key, value in quantities.items %}
                                                {% if key == product.id|slugify %}
                                                    <option selected>{{ value }}</option>
                                                {% endif %}
                                            {% endfor %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Actualizar</button>
                                <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Borrar</button>
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h2>Total: $ {{ total }} </h2>
        <h2>Descuento: {{ descuento }} </h2>
        <h3>Total Final: $total-descuento </h3>
        {% else %}
            <br>
            <h2>No hay productos en el carrito...</h2>
        {% endif %}

    </div>
    <br><br><br><br>
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'descuento' %}"><img src="{% static 'img/ruleta.png' %}" class="d-block w-100" alt="..."></a>
                    <div class="caption">
                        <h5>No te Convence?! Prueba tu suerte y gana hasta un 15%!!</h5>
                        <p>
                            Gira la rueda y gana hasta un 15% de descuento para tu compra
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/i2.jpg' %}" class="d-block w-100" alt="...">
                    <div class="caption">
                        <h5>¡Domina el campo con estilo!</h5>
                        <p>¿Estás listo para llevar tu juego al siguiente nivel? Descubre los botines de
                            Transfermarkt
                            profesionales y siente la diferencia en cada pisada.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/i3.jpg' %}" class="d-block w-100" alt="...">
                    <div class="caption">
                        <h5>¡Conviértete en un muro infranqueable!</h5>
                        <p>¿Estás listo para convertirte en el héroe de tu equipo? Equipa tus manos con los guantes
                            de
                            arquero profesionales y detén cada disparo con seguridad.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <section class="icons container">
            <div class="icon-1">
                <div class="icon-img">
                    <img src="{% static 'img/i1.svg' %}" alt="">
                </div>
                <div class="icon-txt">
                    <h3>¡Más que un simple adorno!</h3>
                    <p>Tus poleras no solo se verán increíbles en la cancha o las gradas, ¡también serán
                        protagonistas en tu armario! Diseños llamativos y vibrantes que llenarán de color tu espacio.</p>
                </div>
            </div>
            <div class="icon-1">
                <div class="icon-img">
                    <img src="{% static 'img/i2.svg' %}" alt="">
                </div>
                <div class="icon-txt">
                    <h3>¡Planchado perfecto, calidad duradera!</h3>
                    <p>Olvídate de las arrugas y disfruta de una tela resistente al desgaste. Plancharlas será pan
                        comido y su calidad te acompañará durante mucho tiempo.</p>
                </div>
            </div>
            <div class="icon-1">
                <div class="icon-img">
                    <img src="{% static 'img/i3.svg' %}" alt="">
                </div>
                <div class="icon-txt">
                    <h3>¡Dobleces sin preocupaciones!</h3>
                    <p>No importa si las guardas por un corto o largo tiempo, tus poleras no se deformarán ni
                        perderán su forma. ¡Olvídate de las marcas indeseadas y disfruta de tu colección impecable!
                    </p>
                </div>
            </div>
        </section>
    </div>


    {% include "footer.html" %}
    <link rel="stylesheet" href="{% static 'css/style6.css' %}">

    
</body>
<script>
    $(document).on('click', '.update-cart', function(e) {
        e.preventDefault();

        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json) {
                location.reload();
                
            },
            
            error: function(xhr, errmsg, error) {
                
            }
        });
    })

    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();
        // grab the product id
        //var productid = $(this).data('index');
    
        $.ajax({
        type: 'POST',
        url: '{% url 'cart_remove' %}',
        data: {
          product_id: $(this).data('index'),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function(json){
            //console.log(json)
            //document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },
    
        error: function(xhr, errmsg, err){
    
        }
    
    
        });
    
    })

</script>
</html>

