{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botines</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
    {% include "header.html" %} 
    <main class="products container" id="lista-1">
        <h2>bOTINES de Futbol</h2>
        <div class="container">
            <div class="row text-center py-5">
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b30.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Hypervenom Phantom III
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$70.990</s></small>
                                    <span class="precio">$65.990</span>
                                </h5>
                                <ba type="submit" class="agregar-carrito btn btn-warning my-3" name="add">Añadir al Carrito <i class="fas fa-shopping-cart"></i></ba>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b29.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Mercurial Victory VI CR7
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$79.990</s></small>
                                    <span class="precio">$74.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b28.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NEW BALANCE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Furon 3.0 PRO
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$120.990</s></small>
                                    <span class="precio">$99.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b27.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    MAGISTA ORDEN II FG
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$149.990</s></small>
                                    <span class="precio">$119.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b26.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    ACE 17.3 Tango
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$76.990</s></small>
                                    <span class="precio">$71.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B25.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">PUMA</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Evopower Vigor 3 LTH
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$88.990</s></small>
                                    <span class="precio">$85.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B24.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    CR7 Mercurial Vapor X
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$84.990</s></small>
                                    <span class="precio">$79.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B23.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    ACE 16.3 Primemesh
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$194.990</s></small>
                                    <span class="precio">$187.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b22.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Mercurial Victory V
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$66.990</s></small>
                                    <span class="precio">$62.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b21.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    CR7 Superfly V
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$98.990</s></small>
                                    <span class="precio">$91.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/b20.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Messi 15.1 FG
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$163.990</s></small>
                                    <span class="precio">$155.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B19.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Nitrocharge 1.0 TRX
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$148.990</s></small>
                                    <span class="precio">$136.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B18.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Copa Mundial
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$99.990</s></small>
                                    <span class="precio">$95.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B17.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    X 16.1
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$134.990</s></small>
                                    <span class="precio">$127.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B16.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Mercurial Superfly V
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$114.990</s></small>
                                    <span class="precio">$109.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0" name="op">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B15.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">JOGEL</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    NeoSprint
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$54.990</s></small>
                                    <span class="precio">$52.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B14.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Mercurial Vapor XI NJR
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$219.990</s></small>
                                    <span class="precio">$207.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B13.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Magista Onda FG
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$89.990</s></small>
                                    <span class="precio">$82.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B12.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Ace Tango 17
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$81.990</s></small>
                                    <span class="precio">$76.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B11.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Hypervenom III  Pro
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$134.990</s></small>
                                    <span class="precio">$129.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0" name="op">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B10.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    NEMEZIZ MESSI 17.1
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$76.990</s></small>
                                    <span class="precio">$72.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B9.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    PureChaos X 16.3
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$119.990</s></small>
                                    <span class="precio">$112.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B8.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Predator 18.1 FG
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$198.990</s></small>
                                    <span class="precio">$189.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B7.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Magista Onda FG
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$164.990</s></small>
                                    <span class="precio">$157.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B6.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    X17.1 NSG Techfit
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$91.990</s></small>
                                    <span class="precio">$87.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0" name="op">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B5.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">PUMA</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Evospeed 1.4 SL
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$120.990</s></small>
                                    <span class="precio">$115.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B4.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ADIDAS</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    X 16.3 FG
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$81.990</s></small>
                                    <span class="precio">$76.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B3.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Tempo Legend VI
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$84.990</s></small>
                                    <span class="precio">$79.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B2.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Mercurial Vapor X FG
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$108.990</s></small>
                                    <span class="precio">$105.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 my-3 my-md-0">
                    <form action="index1.php" method="POST">
                        <div class="card shadow">
                            <div>
                                <img src="{% static 'img/B1.png' %}" alt="Image1" class="img-fluid card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">NIKE</h5>
                                <h6>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </h6>
                                <p class="card-text">
                                    Mercurial Superfly Br. Mango
                                </p>
                                <h5>
                                    <small><s class="text-secondary">$188.990</s></small>
                                    <span class="precio">$183.990</span>
                                </h5>
                                <a type="submit" class="agregar-carrito btn btn-warning my-3" name="add" data-id="1">Añadir al Carrito <i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </form>
                </div>   
            </div>
        </div>
    </main>        
    {% include "footer.html" %} 
    <script src="{% static 'js/scrip.js' %}"></script>
</body>
</html>